{% extends 'layout.html' %}
{% block content %}
<div class='content-section'>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class ="form-group">
            <legend class="boder-bottom mb-4">New announcement</legend>
            <div class="form-group">
                {{form.announce.label(class="form-control-lable")}}
                {% if form.announce.errors%}
                    {{form.announce(class="form-contorl form-contorl-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.announce.errors%}
                                <span> {{ error }}</span>
                            {%endfor%}
                        </div>
                        {% else %}
                            {{form.announce(class="form-control form-contorl-lg")}}
                {% endif %}
            </div>
        </fieldset>
            <div class='form-group'>
                {{form.submit(class="btn btn-outline-info")}}
            </div>
    </form>
</div>
{% endblock content %}